name: CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

env:
    LANG: C.UTF-8
    MIX_ENV: test
    VERBOSE_TESTS: true

jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                elixir: [1.16.1]
                otp_release: [26.1.2]

        steps:
            - uses: actions/checkout@v4
            - name: Set up OTP and Elixir
              uses: erlef/setup-beam@v1
              with:
                  elixir-version: ${{ matrix.elixir }}
                  otp-version: ${{ matrix.otp_release }}
            - name: Install dependencies
              run: |
                  epmd -daemon
                  mix do deps.get, eqc.install --mini
            - name: Run tests
              run: mix test --exclude=integration
            - name: Run integration tests
              run: mix test --only=win32:false
